<h1>Animals</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Species</th>
  </tr>
  <% for animal in @animals %>
  <tr>
    <td><%= animal.name %></td>
    <td>|</td>
    <td><%= animal.species %></td>
  </tr>
  <% end %>
</table>